<div class="login-container">
    <div class="login-login">
      <img
        src="/rectangle37935-dz3-800w.png"
        alt="Rectangle37935"
        class="login-rectangle3"
      />
      <div class="login-maskgroup">
        <img
          src="/image1758017935-nrb-1500w.png"
          alt="IMAGE1758017935"
          class="login-image175801"
        />
      </div>
      <div class="login-group20">
        <div class="login-text-input">
          <div class="login-input-label">
            <div class="login-label-icon">
              <div class="login-label-require">
                <span class="login-text textSm·14medium">
                  <span>E-mail</span>
                </span>
              </div>
            </div>
          </div>
          <div class="login-input">
            <div class="login-value">
              <span class="login-text02 textSm·14regular">
            
              </span>
            </div>
          </div>
        </div>
        <div class="login-text-input1">
          <div class="login-input-label1">
            <div class="login-label-icon1">
              <div class="login-label-require1">
                <span class="login-text04 textSm·14medium">
                  <span>Senha</span>
                </span>
              </div>
            </div>
          </div>
          <div class="login-input1">
            <div class="login-value1">
              <span class="login-text06 textSm·14regular"></span>
            </div>
            <div class="login-input-addon">
              <img
                src="/eyeslashlighti783-hiog.svg"
                alt="eyeslashlightI783"
                class="login-eyeslashlight"
              />
            </div>
          </div>
        </div>
      </div>
      <button class="login-button">
        <span class="login-text07 textBase·16medium"><span>Login</span></span>
      </button>
      <span class="login-text09"><span>Esqueci minha senha</span></span>
      <span class="login-text11"><span>Não tem uma conta?</span></span>
      <span class="login-text13"><span>Faça login</span></span>
      <span class="login-text15">
        <span>
          <span>Bem vindo (a) ao SIGECE,</span>
          <br />
          <span>o seu sistema de gerenciamento de Centros Espíritas.</span>
        </span>
      </span>
      <span class="login-text20">
        <span>
          Aqui você poderá ter maior controle de dados de voluntários, estudantes
          e muito mais.
        </span>
      </span>
      <div class="login-checkbox-label">
        <div class="login-input2"><div class="login-checkbox"></div></div>
        <div class="login-text-wrapper">
          <span class="login-text22"><span>Salvar meus dados</span></span>
        </div>
      </div>
      <button class="login-button1">
        <span class="login-text24 textBase·16medium">
          <span>Crie agora</span>
        </span>
      </button>
      <div class="login-group28">
        <span class="login-text26 textSm·14medium"><span>LOGO</span></span>
      </div>
    </div>
  </div>
